{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/classinfo.css') }}" type="text/css">
{% endblock %}


{% block contents %}
  <!-- ここから授業詳細 -->
  <fieldset>
    <div class="classinfo">
      <h1 class="name">{{ subject.name }}</h1>
      <!--  ↓お気に入りボタン（右上）    -->
      {% if current_user.id and current_user.has_liked_subject(subject) %}
        <a href="{{ url_for('like_action', subject_id=subject.id, action='unlike') }}">
          <img src="{{ url_for('static', filename='img/liked.png') }}">
        </a>
      {% else %}
        <a href="{{ url_for('like_action', subject_id=subject.id, action='like') }}">
          <img src="{{ url_for('static', filename='img/unliked.png') }}">
        </a>
      {% endif %}

      <p class="sort">{{ subject.sort }}</p>
      <p class="term_and_time">{{ subject.term}} {{ subject.time }}</p>
      <p class="professor_and_language">{{ subject.teacher }} 教授 / 言語：{{ subject.language }}</p>

      <div class="likes">お気に入り　{{ subject.likes.count() }}件</div>
      <div class="categories">
        {% for keyword in subject_keyword %}
          <span class="subject_keyword">{{ keyword }}</span>
        {% endfor %}
      </div>
    </div>
  </fieldset>

      <!-- ここからレビュー一覧 -->
  <fieldset class="review-from-others">
    {% if reviews.items %}
      {% for review in reviews.items %}
        <fieldset class="review">
            <div class="author">
              <img src="{{ url_for('static', filename='img/profile_pics/{}.png'.format(review.author.type)) }}" width= "55.3485px">
              <span class="user-username">{{ review.author.username }}</span>
              <span class="user-faculty">{{ review.author.faculty }}</span>
            </div>

            <div class="review-body">
              <span class="title">{{ review.title }}</span>
              <img src="{{ url_for('static', filename='img/rating_{}.png'.format(review.rating)) }}">
              <hr>
              <div class="content">{{ review.content }}</div>
              <div class="keyword">
                {% for keyword in review.keyword.split(" ") %}
                  <span>{{ keyword }}</span>
                {% endfor %}
              </div>
              <div class="uplaoded_date">
                {{ review.date_posted.strftime('%Y-%m-%d') }}
              </div>
              {% if review.author == current_user %}
                <form action="{{ url_for('delete_review', review_id=review.id, subject_id=subject.id) }}">
                  <button type="submit">このレビューを削除</button>
                </form>
              {% endif %}
            </div>
        </fieldset>
      {% endfor %}
    {% else %}
      <div>作成されたレビューがありません。</div>
    {% endif %}
    {% for page_num in reviews.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if reviews.page == page_num %}
                <a class="current_page_num" href="{{ url_for('classinfo', subject_id=subject.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="page_num" href="{{ url_for('classinfo', subject_id=subject.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
  </fieldset>

    <br>

  <!-- ここからレビュー作成 -->
  <div class="newreview">
    <h2>レビュー作成</h2>

    <fieldset>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
          <div class="title-review">
            {{ form.title.label(class="label-title") }}
            {{ form.title(class="blank-title") }}
          </div>

          <div class="rating-review">
            {{ form.rating.label(class="label-rating") }}
            {% for l, i in enumerate(form.rating) %}
              <img src="{{ url_for('static', filename='img/rating_{}.png'.format(l)) }}"> {{ i(class="button") }}
            {% endfor %}
          </div>

          <div class="content-review">
            {{ form.content.label(class="label-content") }}
            {{ form.content(class="blank-content") }}
          </div>

          <div class="keyword-review">
            {{ form.keyword.label(class="label-keyword") }}
            {{ form.keyword(class="blank-keyword") }}
          </div>

          <div class="submit-review">
            {{ form.submit }}
          </div>
      </form>
    </fieldset>
  </div>
{% endblock %}