{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}" type="text/css">
{% endblock %}


{% block contents %}
    <!-- この中に内容入れる -->
    <div class="toppage">
        <!--ここからコピーとロゴ-->
        <h1>キャッチコピー、入れよう。</h1>
        <img src="static/img/jellyfish.jpg">
    </div>

    <div class="search-area">
        <p>条件で検索する</p>
        <form method="POST" action="{{ url_for('searchresult') }}">
          {{ form.hidden_tag() }}
          <fieldset>
              <div class="searchform">
                  {{ form.sort.label(class="form_label") }}
                  {{ form.sort(class="form_checkbox") }}
              </div>
              <div class="searchform">
                  {{ form.term.label(class="form_label") }}
                  {{ form.term(class="form_checkbox") }}
              </div>
              <div class="searchform">
                  {{ form.day.label(class="form_label") }}
                  {{ form.day(class="form_checkbox") }}
              </div>
              <div class="searchform">
                  {{ form.time.label(class="form_label") }}
                  {{ form.time(class="form_checkbox") }}
              </div>
              <div class="searchform">
                  {{ form.draw.label(class="form_label") }}
                  {{ form.draw(class="form_checkbox") }}
              </div>
              <div class="searchform">
                  {{ form.title.label(class="form_label") }}
                  {{ form.title(class="form_textbox") }}
              </div>
              <div class="searchform">
                  {{ form.keyword.label(class="form_label") }}
                  {{ form.keyword(class="form_checkbox") }}
              </div>
              <!--     Searchボタン       -->
              <div class="search_button">
                  {{ form.submit(class="search_button") }}
              </div>
          </fieldset>
        </form>
    </div>
  <!-- ここまで授業検索画面 -->

{% endblock %}