{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}" type="text/css">
{% endblock %}


{% block contents %}
<!-- この中に内容入れる -->

<div class="toppage"><!--ここからコピーとロゴ-->
  <h1>キャッチコピー、入れよう。</h1>
  <img src="static/img/jellyfish.jpg">
</div> <!--ここまでコピーとロゴ-->

<div class="search-area">
  <p>条件で検索する</p>
  <form action="{{ url_for('createaccount') }}" target="result" method="get">
    <div class="check">
      <div class="syozoku">
        <p>時間割所属</p>
        <label><input type="checkbox" name="syozoku" value="all">全学共通教育科目</label>
        <label><input type="checkbox" name="syozoku" value="com">商学部</label>
        <label><input type="checkbox" name="syozoku" value="eco">経済学部</label>
        <label><input type="checkbox" name="syozoku" value="law">法学部</label>
        <label><input type="checkbox" name="syozoku" value="soc">社会学部</label>
      </div>

      <div class="season">
        <p>開講区分</p>
        <label><input type="checkbox" name="season" value="spsm">春夏学期</label>
        <label><input type="checkbox" name="season" value="sp">春学期</label>
        <label><input type="checkbox" name="season" value="sm">夏学期</label>
        <label><input type="checkbox" name="season" value="auwi">秋冬学期</label>
        <label><input type="checkbox" name="season" value="au">秋学期</label>
        <label><input type="checkbox" name="season" value="wi">冬学期</label>
      </div>

      <div class="day">
        <p>曜日</p>
        <label><input type="checkbox" name="day" value="mon">月曜日</label>
        <label><input type="checkbox" name="day" value="tue">火曜日</label>
        <label><input type="checkbox" name="day" value="wed">水曜日</label>
        <label><input type="checkbox" name="day" value="thu">木曜日</label>
        <label><input type="checkbox" name="day" value="fri">金曜日</label>
      </div>

      <div class="when">
        <p>時限</p>
        <label><input type="checkbox" name="when" value="1">1限</label>
        <label><input type="checkbox" name="when" value="2">2限</label>
        <label><input type="checkbox" name="when" value="3">3限</label>
        <label><input type="checkbox" name="when" value="4">4限</label>
        <label><input type="checkbox" name="when" value="5">5限</label>
      </div>

      <div class="searchform" id="makeImg">
        <p>科目名</p>
        <input type="text" id="inText" class="searchText">
      </div>
    </div><!--ここまでチェック項目-->
    <div class="searchbotton">
      <input type="submit" value="検索">
    </div>
    <div class="searchdetail">
      <div class="keyword">キーワード
        <input type="checkbox" name="keyword" value="final">期末試験
        <input type="checkbox" name="keyword" value="final-essay">期末レポート
        <input type="checkbox" name="keyword" value="midterm">中間試験
        <input type="checkbox" name="keyword" value="midterm-essay">中間レポート
        <input type="checkbox" name="keyword" value="attendance">出席
        <input type="checkbox" name="keyword" value="hw-every">課題(毎回)
        <input type="checkbox" name="keyword" value="hw-some">課題(たまに)
        <input type="checkbox" name="keyword" value="outline">レジュメ
        <input type="checkbox" name="keyword" value="live">ライブ
        <input type="checkbox" name="keyword" value="recorded">オンデマンド
        <input type="checkbox" name="keyword" value="live-recorded">ライブ・オンデマ併用
        <input type="checkbox" name="keyword" value="in-person">対面
        <input type="checkbox" name="keyword" value="camera-on">顔出しアリ
        <input type="checkbox" name="keyword" value="camera-off">顔出しナシ
      </div>
    </div>
  </form>
</div><!-- ここまで授業検索画面 -->

{% endblock %}