{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
{% endblock %}

{% block contents %}
    <div class="userinfo">
        <img class="userimg" src="{{ image_file }}">
        <div class="username">
            {{ current_user.username }}
        </div>
        <div class="faculty/year">
            <span class="faculty">
                {{ current_user.faculty }}
            </span>
            <span class="year">
                {{ current_user.year }}年生
            </span>
        </div>
    </div>

    <a href="{{ url_for('updateaccount') }}">Update Account</a>
{% endblock %}