{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}" type="text/css">
{% endblock %}

{% block contents %}
    <div class="userinfo">
        <img class="userimg" src="{{ image_file }}">
        <div class="username">
            {{ current_user.username }}
        </div>
        <div class="usertype">
            {{ current_user.type }}タイプ大学生
        </div>
        <div class="faculty/year">
            <span class="faculty">
                {{ current_user.faculty }}
            </span>
            <span class="year">
                {{ current_user.year }}年生
            </span>
        </div>
    </div>

    <a href="{{ url_for('updateaccount') }}">Update Account</a>

    <!-- ここに時間割作ってください -->
    <div class="select-season">
        <select name="gakki">
            <option value="sp">春</option>
            <option value="su">夏</option>
            <option value="au">秋</option>
            <option value="wi">冬</option>
        </select>
        学期
    </div>

    <div class="timetable">
        <table>
            <tr>
                <th class="space"></th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
            </tr>

            <tr>
                <td class="jigen">1</td>
                <td class="mo1">
                    {% for i in timetable('月1') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="tu1">
                    {% for i in timetable('火1') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="we1">
                    {% for i in timetable('水1') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="th1">
                    {% for i in timetable('木1') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="fr1">
                    {% for i in timetable('金1') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td class="jigen">2</td>
                <td class="mo2">
                    {% for i in timetable('月2') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="tu2">
                    {% for i in timetable('火2') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="we2">
                    {% for i in timetable('水2') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="th2">
                    {% for i in timetable('木2') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="fr2">
                    {% for i in timetable('金2') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td class="jigen">3</td>
                <td class="mo3">
                    {% for i in timetable('月3') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="tu3">
                    {% for i in timetable('火3') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="we3">
                    {% for i in timetable('水3') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="th3">
                    {% for i in timetable('木3') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="fr3">
                    {% for i in timetable('金3') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td class="jigen">4</td>
                <td class="mo4">
                    {% for i in timetable('月4') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="tu4">
                    {% for i in timetable('火4') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="we4">
                    {% for i in timetable('水4') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="th4">
                    {% for i in timetable('木4') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="fr4">
                    {% for i in timetable('金4') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td class="jigen">5</td>
                <td class="mo5">
                    {% for i in timetable('月5') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="tu5">
                    {% for i in timetable('火5') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="we5">
                    {% for i in timetable('水5') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="th5">
                    {% for i in timetable('木5') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
                <td class="fr5">
                    {% for i in timetable('金5') %}
                        <p>{{ i }}</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}