{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/searchresult.css') }}" type="text/css">
{% endblock %}


{% block contents %}
    <div class="searchresult">
        <h3>検索結果</h3>
        {% for subject in result.items %}
            <a href="{{ url_for('classinfo', subject_id=subject.id) }}">
                <div class="class">
                    <div class="class-header">
                        <div class="class_name">{{ subject.name }}</div>
                        <div class="class_time">{{ subject.term }} {{ subject.time }}</div>
                        <div class="like_button">
                            {% if current_user.id and current_user.has_liked_subject(subject) %}
                                <a href="{{ url_for('like_action', subject_id=subject.id, action='unlike') }}">
                                    <img src="{{ url_for('static', filename='img/liked.png') }}">
                                </a>
                            {% else %}
                                <a href="{{ url_for('like_action', subject_id=subject.id, action='like') }}">
                                    <img src="{{ url_for('static', filename='img/unliked.png') }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="class_sort">・{{ subject.sort }}　・{{ subject.draw }}</div>
                    <div class="rating">
                        <div class="rating-good"><img src="static/img/rating-good.png" width="32.5px">?</div>
                        <div class="rating-maybe"><img src="static/img/rating-maybe.png" width="32.5px">?</div>
                        <div class="rating-no"><img src="static/img/rating-no.png" width="32.5px">?</div>
                        <div class="liked-number">(お気に入り{{ get_count(subject.likes) }}件)</div>
                    </div>
                    <div class="class_keyword">
                        {% for keyword in subject_keyword %}
                            <span class="keyword">{{ keyword }}</span>
                        {% endfor %}
                    </div>
                    <div>授業の詳細を見る</div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="page_number">
        {% for page_num in result.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if result.page == page_num %}
                    <a class="current_page_num" href="{{ url_for('searchresult', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="page_num" href="{{ url_for('searchresult', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock contents %}