{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/searchresult.css') }}" type="text/css">
{% endblock %}


{% block contents %}
    <div class="searchresult">
        <h3>検索結果</h3>
        {% for subject in result %}
            <a href="{{ url_for('classinfo', subject_id=subject.id) }}">
                <div class="class">
                    <p class="class_title">{{ subject.name }}</p>
                    <p class="class_sort">{{ subject.sort }}</p>
                    <p class="class_time">{{ subject.term }} {{ subject.time }}</p>
                    <p class="class_likes">お気に入り {{ subject.likes.count() }}件</p>
                    <p class="keyword">キーワード</p>
                    <p>授業の詳細を見る</p>
                    {% if current_user.has_liked_subject(subject) %}
                        <a href="{{ url_for('like_action', subject_id=subject.id, action='unlike') }}">
                            <img src="{{ url_for('static', filename='img/liked.png') }}">
                        </a>
                    {% else %}
                        <a href="{{ url_for('like_action', subject_id=subject.id, action='like') }}">
                            <img src="{{ url_for('static', filename='img/unliked.png') }}">
                        </a>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}