<div class="hamburger-menu" id="close_menu">
  <a class="ham-letter" href="">close</a>
  <a href=""><img id="close-img" class="menu_img" src="{{ url_for('static', filename='img/layout/close_menu.png') }}"></a>
</div>
<table class="ham">
    <tbody>
        <tr>
            <td><a href="{{ url_for('main.mainpage') }}">ホーム</a></td>
            <td><a href="{{ url_for('main.aboutus') }}">About Us</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('users.typetest') }}">キャラ診断</a></td>
            <td><a href="{{ url_for('users.mypage', my_term='春') }}">マイページ</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('main.mobile_install') }}">スマホにインストール</a></td>
            <td><a href="{{ url_for('users.logout') }}">ログアウト</a></td>
        </tr>
    </tbody>
</table>