{% extends 'layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/typetest.css') }}" type="text/css">
{% endblock %}

{% block contents %}
    <h1>{{ current_user.username }}さんは何キャラ？!</h1>
    <div>
        <form method="POST" action="">
            <fieldset>
                <!--      キャラ診断タイトル         -->
                <legend>キャラ診断</legend>
                {% for i in range(10) %}
                    <div class="testform">
                        <div class="question">
                            <span class="q_number">Q{{ i+1 }}</span>
                            <span class="q_text">{{ question[i] }}</span>
                        </div>
                        <label>全くそう思わない</label>
                        <input type="radio" id="a1" name="Q{{ i+1 }}" value=-30>
                        <input type="radio" id="a2" name="Q{{ i+1 }}" value=-20>
                        <input type="radio" id="a3" name="Q{{ i+1 }}" value=-10>
                        <input type="radio" id="a4" name="Q{{ i+1 }}" value=0>
                        <input type="radio" id="a5" name="Q{{ i+1 }}" value=3>
                        <input type="radio" id="a6" name="Q{{ i+1 }}" value=7>
                        <input type="radio" id="a7" name="Q{{ i+1 }}" value=15>
                        <label>強くそう思う</label>
                    </div>
                {% endfor %}
                <!--     提出ボタン       -->
                <div class="submit_button">
                    <button type="submit">診断結果へ</button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}