{% extends 'main/layout.html' %}

{% block stylesheet %}
<!-- ここにCSSファイルをリンクする -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}" type="text/css">
{% endblock %}


{% block contents %}
    <!-- この中に内容入れる -->
    <div class="toppage">
        <!--ここからコピーとロゴ-->
        <img src="{{ url_for('static', filename='/img/mainpage/maruikurage.png') }}">
        <h2>あなたは何キャラ？</h2>
        <a>キャラ診断をすると、同じキャラの一橋生の<br>オススメ授業を見ることができます。<br>まずはアカウント作成へ！</a>
        <a href="{{ url_for('users.createaccount') }}"><div class="create_here">>>アカウント作成はコチラから</div></a>
    </div>

    <div class="search-area">
        <h3>  条件から探す</h3>
        <form method="POST" action="{{ url_for('main.searchresult') }}">
            {{ form.hidden_tag() }}
            <div class="check">
                <div class="syozoku">
                    <p>{{ form.sort.label(class="form_label") }}</p>
                    {{ form.sort(class="form_checkbox") }}
                </div>
                <div class="season">
                    <p>{{ form.term.label(class="form_label") }}</p>
                    {{ form.term(class="form_checkbox") }}
                </div>
                <div class="day">
                    <p>{{ form.day.label(class="form_label") }}</p>
                    {{ form.day(class="form_checkbox") }}
                </div>
                <div class="when">
                    <p>{{ form.time.label(class="form_label") }}</p>
                    {{ form.time(class="form_checkbox") }}
                </div>
                <div class="draw">
                    <p>{{ form.draw.label(class="form_label") }}</p>
                    {{ form.draw(class="form_checkbox") }}

                    <div class="searchform" id="makeImg">
                      {{ form.title(class="searchText", id="inText", placeholder="授業名") }}
                    </div>
                </div>
            </div>

            <div class="searchdetail">
                <div class="keyword">
                    <p>検索結果に<span class="not_include">含まない</span>キーワード</p>
                    {{ form.keyword(class="form_checkbox") }}
                </div>
            </div>
            <!--     Searchボタン       -->
            <div class="search_button">
                {{ form.submit(class="searchbutton") }}
            </div>
        </form>
    </div>
  <!-- ここまで授業検索画面 -->

{% endblock %}
