body{
  /*コンテンツがwebページ全体に広がるようにする*/
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*webサイト全体の色を変える*/
  background-color: rgb(235,247,247);
  /*フォントを指定する*/
  font-family: 'Noto Sans JP', sans-serif;
}


/*水色部分全体*/
.header{
  position: relative;
  height:180px;
  background-color: rgb(235,247,247);
}



/*一橋生のための履修情報サイト*/
.header a{
  margin: 0px 0px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 30%;
  height: 30px;
  font-size: 10pt;
  text-align:center;
}

.mainlogo{
  position: absolute;
  width: 250px;
  top:40px;
  left:0;
  right:0;
  margin: 0 auto;
  cursor: pointer;
}

/*presented by HASC*/
.presented{
  position: absolute;
  bottom:5px;
  right: 20px;
  font-size: 10pt;
}

.presented img{
  height:40px;
  width:60px;
  vertical-align: bottom;
}


/*緑部分全体*/
.menu{
  position: relative;
  background-color: rgb(78,108,108) !important;
  width: 100%;
  height: 40px;
}

/*ホーム・マイページボタン*/
.menu .home{
  position: absolute;
  left:20px;
  top:20%;
  background-color: rgb(78,108,108) !important;
}

/*ログイン・アカウント作成ボタン*/
.menu .login{
  color: #fff;
  position: absolute;
  right:20px;
  top:20%;
  background-color: rgb(78,108,108) !important;
}

/*homeの文字について*/
.menu a{
  color: #fff;
  text-decoration: none;
  font-size:13pt;
  float:left;
  padding-right:15px ;
  margin-left:15px;
  background-color: rgb(78,108,108) !important;
}

/*カーソルを合わせたとき*/
.menu a:hover{
  color: blue;
  cursor: pointer;
}

@media screen and (max-width:767px){
  .header{
    height:120px;
    }

    /*一橋生のための履修情報サイト*/
.header a{
  margin: 0px 0px;
  position: absolute;
  top: 15px;
  left: 50%;
  width:40%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  font-size: 5px;
  text-align:center;
}

.mainlogo{
  position: absolute;
  width: 100%;
  top:30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}

/*presented by HASC*/
.presented{
  position: absolute;
  bottom:5px;
  right: 10px;
  font-size: 5px;
}

.presented img{
  height:30px;
  width:40px;
  vertical-align: bottom;
}

