*{
    background-color: #EBF7F7;
  }


/*入力欄について*/
  /* 枠線 */
  fieldset{
    background-color: #BDCCCC;/*背景色*/
    width: 40%; /*横幅*/
    padding: 2rem; /*内側の余白*/
    margin: auto;/*中央揃え*/
    text-align: center;
    border: solid 4px #4E6C6C;  /*枠線*/
    border-radius: 20px;  /*角丸*/
    justify-content: space-between;/*等間隔に配置*/
    }

  /*位置*/
  form{
    text-align: center;
    margin-top: 3rem;
  }

  .userid,
  .password{
    margin: 0 auto;
  }

  /*タイトル*/
  legend{
    background-color: rgba(27,36,36,0.1);
    color: #273636;
    font-size: 16px;
    letter-spacing: 2px;/*文字間隔*/
    padding: 2px 10px;
    border-radius: 2px;
    text-align: center;
  }

  label{
    float: left;
    width: 40%;
    margin-bottom: 1rem;
  }

  input{
    float: left;
    margin-bottom: 1rem;
  }
  .error{
    background-color: #BDCCCC;
    margin-bottom: 1rem;
  }

  .error input{
    margin-bottom: 0.1rem;
  }

  .form-check-input{
    margin-left:10%;
  }

  /*入力欄*/
  .form_blank{
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 0.2rem;
    outline: none;
    width: 100%;
    height: 2rem;
    padding:0.5rem;
    position: relative;
    text-align: left;
    border: none; /*枠線なし*/
    border-bottom: 2px solid #808080; /*下線部*/
    border-bottom-left-radius: 1.1px;
    border-bottom-right-radius: 1.1px;
    background-color: transparent;
  }

  /*入力時の枠線の変化*/
  input:focus{
    border: none;
    border-bottom: 2px solid rgb(217,98,54);
  }

  input:hover{
    border: none;
    border-bottom: 2px solid #518383;
  }

  .form_blank:focus{
    border: none;
    border-bottom: 2px solid rgb(217,98,54);
  }


  /* ユーザー名入力欄の文字について */
  .userid{
    background-color: transparent;
    color: #273636;
    font-size: 16px;
    text-align:left;
    width:85%;
    height:10%;
    position: relative;
  }

  /* パスワード入力欄の文字について */
  .password{
    color: #273636;
    background-color: transparent!important;
    font-size: 16px;
    text-align:left;
    width:85%;
    height:10%;
    position: relative;
  }

  .remember_me{
    color: #273636;
    background-color:transparent!important;
    font-size: 14px;
    text-align: left !important;
    width:70%;
    height:1rem;
    position: relative;
    cursor: pointer;
    white-space:nowrap;
  }

  .form-check-label{
    background-color: #BDCCCC;
  }

/*エラーメッセージについて*/
  .error_message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0;
    margin-bottom: 10px;
    background-color: #BDCCCC !important;
  }

  .error_message span{
    background-color: #BDCCCC;
  }

  .error label {
    color: #cc0033;
  }

  .error input[type=text] {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
  }

  .error input[type=password] {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
  }

/*ログインボタンについて*/
  .login_button input{
    background: rgb(217,98,54);
    color: #FFF;
    font-size: 20px;
    width: 20%;
    height: 2.5rem;
    position: relative;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 40%;
    margin-right: 40%;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
  }

  /*選択時のボタンの変化*/
  .login_button:focus,
  .login_button:hover{
      opacity: 0.5;
      border: none;
  }

/*新規アカウント作成*/
 small{
  background-color: transparent;
  color: #273636;
  font-size: 14px;
  font-weight: lighter;
  text-align:center;
  position: relative;
}

.need-account-block{
  text-align:center;
}

/*リンクについて*/
  .need_account{
    color: #97B5B5;
  }
  .need_account:hover{
    color: #518383;
    cursor: pointer;
  }
  .need_account:visited{
    color: #847787;
  }

  @media screen and (max-width:767px){
    fieldset{
      width:70%; /*よくわからないけどいい感じになったからmarginは定義しない、たぶん上のautoが効いてる*/
    }

    .form-check-label{
      width:80%;
    }

    .login_button input{
      width:40%;
      margin:1.5rem 30%;
      padding-top:0.3rem;
    }

    small{
      font-size: 11px;
    }
  }

@media screen and (max-width: 350px){
  .form-check-label{
    width: 70%;
  }

  .login_button input{
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
