.searchform ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.searchform ul li {
  border: 1px transparent solid;
  display:inline-block;
  padding-right: 0.5rem;
}

div.searchform{
  padding-bottom:1rem;
}