.userinfo img{
  width:30px;
  }

.timetable table th{
  height: 30px;
  background-color: #a5c9c1;
}

.timetable table td{
  background-color: #e5fff2;
  font-size: 10.5pt;
  text-align: center;
}

.timetable table .jigen{
  background-color: #a5c9c1;
  padding: 30px 10px;
}

.timetable table .space{
  background-color: #54917f;
  width: 30px;
}