*{
  margin:0;
  }

/*検索結果の文字と線*/
h3{
  color: rgb(78,108,108);
  width:80%;
  margin: 1rem 10%;
  margin-bottom: 0.2rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid rgb(78,108,108);
}

p.warning{
  color: red;
  font-size: 0.5em;
  width: 76%;
  margin-left: 12%;
}

/*白のボックス全体*/
 .searchresult{
   background-color: #FFF;
   width:80%;
   margin-left:10%;
   margin-right:10%;
   margin-top:1rem;
   margin-bottom: 1rem;
   display: inline-block;
   border-radius: 1vh;
 }

/*授業名・時限・教授のボックス*/
.result_header{
  background-color:#F3F3F5;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 1vh;
}

/*授業名*/
.class_name{
  font-size: 16pt;
  font-weight: bold;
  float: left;
  margin:0.5rem 1rem;
  margin-right: 0rem;
}

/*開講区分と時限*/
.class_time{
  float:left;
  margin-top:0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.container{
  width: 90%;
}

/*お気に入りボタン*/
.like_button img{
  width: 35px;
  height: 35px;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  position: absolute;
  right: 15%;
  cursor: pointer;
}

.user_like_button img{
  width: 35px;
  height: 35px;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  position: absolute;
  right: 16%;
  cursor: pointer;
}

/*学部と抽選*/
.class_sort{
  margin-top:0.5rem;
  margin-left:5%;
  font-size:14px;
}

/*顔とお気に入り件数*/
.rating{
  float: left;
  width:90%;
  margin-left: 5%;
}

/*顔の画像の微調整*/
.rating img{
  margin-left:1rem;
  margin-right:0.5rem;
  margin-top:0.5rem;
}

/*お気に入り件数*/
.liked-number{
  float: right;
  margin-top:0.7rem;
  font-size:14px;
}

/*キーワード全体*/
.class_keyword{
  float:left;
  margin-top:0.5rem;
  margin-left: 5%;
}

/* キーワードの装飾*/
.class_keyword span{
  color: white;
  background-color: rgb(194,174,151);
  border-radius: 15px;
  margin-right:0.3rem;
  padding: 0.1rem 0.75rem;
  word-break: keep-all; /*改行防止*/
  line-height: 1.5rem; /*2行以上になったとき縦に重ならないように行間を広くする*/
  white-space:nowrap; /*キーワードが破れないようにする*/
}

/*詳細を見る*/
.see-detail{
  margin-top:0.5rem;
  margin-bottom: 1rem;
  width:90%;
  margin-right:5%;
  text-align: right;
  float: right;
  text-decoration: underline !important;
  color: rgb(144,61,64);
  cursor: pointer;
}

/*詳細を見るに合わせると透ける*/
.see-detail:hover{
 opacity: 0.5;
}

/*ページ番号*/
.page_number{
  text-align: center;
  margin-top:0.5rem;
}

/* リンク効果削除 */
a {
  text-decoration: none;
  color: inherit;
}

/* page number */
a.page_num{
  color: rgb(80,120,120);
  background-color: transparent;
  border-radius: 5px;
  margin-right: 0.3rem;
  padding: 0.05rem 0.4rem;
  box-sizing: border-box;
  border: rgb(80,120,120) 0.15rem solid;
}

/* current page number */
a.current_page_num{
  color: white;
  background-color:rgb(80,120,120);
  border-radius: 5px;
  margin-right: 0.3rem;
  padding: 0.05rem 0.4rem;
  border: rgb(80,120,120) 0.15rem solid;
}

/* admin用の授業情報修正ボタン */
.update_class_button{
  float: right;
  color: white;
  background-color: rgb(100,34,255);
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border:  rgb(151,117,255) 2px solid;
  border-radius: 1vh;
  margin-right: 5%;
}




/*レスポンシブ対応まとめて*/
@media screen and (max-width: 767px){
  /*767pxはipadより小さい横幅*/
　h3{
  size:14px;
  margin-bottom:0.5rem 5%;
 }

 .searchresult{
   width:90%;
   margin-left:5%;
   margin-right:5%;
 }

　.result_header{
    margin-top:0.25rem;
 }
  .class_name{
    font-size: 14px;
    font-weight:bold;
    width:90%;
    margin-top:0.25rem;
    margin-bottom:0;
    margin-left:0.5rem;
    margin-right:0;
  }

  .class_time{
    font-size:10px;
    width:80%;
    margin-top:0.1rem;
    margin-left:0.5rem;
    margin-bottom:0.25rem;
    color:rgb(70,70,70);
  }

  .like_button img{
    right:12%;
    width: 30px;
    height: 30px;
    margin: 0.4rem 0.4rem;
  }

  .user_like_button img{
    right:12%;
    width: 30px;
    height: 30px;
    margin: 0.4rem 0.4rem;
  }

  .class_sort{
    font-size:10px;
    margin-top:0;
  }

  .rating{
    float:left;
    font-size:12px;
    margin-top:0;
  }

  .rating img{
    width:16px;
    margin-top:0.25rem;
    margin-left:0.25rem;
  }

  .liked-number{
    font-size:10px;
    float:right;
    margin-top:0.25rem;
  }

  .class_keyword{
    font-size:10px;
    margin-top:0.25rem;
  }

  .class_keyword span{
    margin-right:0.4rem;
    white-space:nowrap;
  }

  .see-detail{
    font-size:12px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }

  a{
    size:12px;
  }

  .page_number{
    margin-top:0rem;
  }

  a.page_num{
    font-size:0.5rem;
    padding: 0.1rem 0.4rem;
  }

  a.current_page_num{
    font-size:0.5rem;
    padding: 0.1rem 0.4rem;
  }
}