*{
    background-color: #EBF7F7;
  }

/* 入力欄について */
  /*枠線 */
  fieldset{
    background-color: #BDCCCC;/*背景色*/
    width: 40%; /*横幅*/
    padding: 2rem; /*内側の余白*/
    margin: auto;
    text-align: left;
    border: solid 4pt #4E6C6C;  /*枠線*/
    border-radius: 20px;  /*角丸*/
    justify-content: space-between;/*等間隔に*/
  }

  /*位置*/
  form{
    text-align: center;
    padding-top: 3rem;
  }
  /*中央揃え*/
  .username,
  .current_password,
  .new_password,
  .confirm_password,
  .syozoku{
    margin: 0 auto;
  }

  /*タイトル*/
  legend{
    background-color: rgba(27,36,36,0.1);
    font-weight: normal;
    color: #273636;
    font-size: 14pt;
    letter-spacing: 2px;
    padding: 2px 10px;
    border-radius: 2px;
    text-align: center;
  }

  label{
      float: left;
      width: 260px;
      margin-bottom: 15px;
  }

  input{
      float: left;
      width: 40%;
      margin-bottom: 1rem;
      z-index:1000;
    }


  /*入力欄*/
  input{
    box-sizing: border-box;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    width: 100%;
    height: 2rem;
    padding:0.5rem;
    position: relative;
    text-align: left;
    border: none; /*枠線なし*/
    border-bottom: 2px solid #808080; /*下線部*/
    border-bottom-left-radius: 1.1px;
    border-bottom-right-radius: 1.1px;
    background-color: transparent;
  }

  /*入力時の枠線の変化*/
  input:focus{
    border: none;
    border-bottom: 2px solid rgb(217,98,54);
  }
  input:hover{
    border: none;
    border-bottom: 2px solid rgb(217,98,54);
  }

  /* 文字 */
  .username,
  .current_password,
  .new_password,
  .confirm_password,
  .syozoku{
    font-weight: normal;
    background-color: #BDCCCC;
    color: #273636;
    font-size: 16px;
    text-align:left;
    width:85%;
    height:10%;
    position: relative;
  }

/*エラーメッセージについて*/
  .error{
    background-color: #BDCCCC;
    margin-bottom: 0.5rem;
  }

  .error_message {
    color: #cc0033;
    background-color: #BDCCCC;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
    padding-left: 0.5rem;
  }

  .error_message span{
    background-color: #BDCCCC;
  }

  .error label {
    color: #cc0033;
  }

  .error input[type=text] {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
    margin-bottom:0;
  }

  .error input[type=password] {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
    margin-bottom:0;
  }

/*選択欄について*/
  .syozoku select{
    font-weight: normal;
    background-color: transparent;
    color: #273636;
    font-size: 16px;
    text-align:left;
    float: inline-end;
    position: relative;
  }

  .syozoku::-ms-expand{
      display: none; /*IEの矢印を非表示*/
  }

  .syozoku:-moz-focusring{
      color: transparent;
      text-shadow: 0 0 0 #828c9a; /*FireFoxでフォーカス時に点線の表示回避*/
  }

  /*矢印*/
  .syozoku select::after{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance:none;
    content: '\25BC';
    position: relative;
    top: 0;
    right: 0;
    color: #808080;
    background: transparent;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

/*選択時の枠線の変化*/
  select:focus,
  select:hover{
    outline: none;
    border: none;
    border-bottom: 2px solid #518383;
  }
  .syozoku select:hover::after{
    color: #518383;
  }

  /*選択欄*/
  .syozoku select{
    padding: 8px  12px;
    color:  #273636;
    background-color: transparent;
    border:none;
    outline: none;
    border-bottom: 2px solid #808080;
    cursor: pointer;
    border-bottom-left-radius: 1.1vh;
    border-bottom-right-radius: 1.1vh;
    margin-right: 1rem;
  }

  /* 文字 */
  .syozoku{
    font-weight: normal;
    color: #273636;
    background-color: transparent;
    font-size: 16px;
    text-align:left;
    width:85%;
    height:10%;
    position: relative;
  }

/*確定ボタン*/
  .submit_button{
    background: rgb(217,98,54);
    color: #FFF;
    font-size: 20px;
    width: 40%;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-left:30%;
    margin-right: 30%;
    margin-top: 2rem;
    margin-bottom: 6rem;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
  }

  /*選択時のボタンの変化*/
  .submit_button:focus,
  .submit_button:hover{
    opacity: 0.5;
  }

  @media screen and (max-width:767px){
    fieldset{
      width:70%;
    }

    .syozoku select{
      margin-right: 0.8rem;
    }

    .submit_button{
      width:60%;
      margin:1.5rem 20%;
    }

  }
