.warning{
    color: #ff0000;
    font-size: 12px;
}

fieldset input{
  width:30%;
}

.keywords{
    color: rgb(128,128,128);
}

.keyword input{
    width: 50%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

input.submit_button{
    align: center;
    color: white;
    background-color: rgb(242,190,33);
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border:  rgb(223 170 9) 4px solid;
    border-radius: 1vh;
    margin-top: 1rem;
}

.submit_button{
    text-align: center;
}

fieldset{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border: rgb(78,108,108) 2px solid;
}